{% extends "base.html" %}
{% block title %}Edit your account{% endblock %}
{% block content %}
<h1>Edit your account</h1>
<p>You can edit your account using the following form:</p>


<form action="." method="post" enctype="multipart/form-data">
{{ user_form.as_p }}
{{ profile_form.as_p }}
{% csrf_token %}

{% if messages %}
	{% for message in messages %}
	<p>{{message|safe}}</p>
	{% endfor %}
{% endif %}

<p><input type="submit" value="Save changes"></p>


</form>
{% endblock %}